*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    padding: 15px 0;
    background-color: teal;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}
.nav__list{
    display: flex;
    gap: 30px;
}
.nav__link{
    font-size: 22px;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
}